
.icon-camera:before { content: '\e800'; } /* '' */
.icon-smile:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-at:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\e804'; } /* '' */